.Footer {
    color: white;
    font-size: small;
    
    }

.FooterContainer {
    display: flex;

}

.FooterUl {
    justify-content: space-around;
}

.FooterLi {
list-style: none;
font-size: small;
margin-left: 75px;
padding: 25px 0;
display: flex;
float:left;

}


.FooterA {
    color: white;
}