.Footer {
    color: white;
    font-size: small;
    margin: 30px;
    background-color: black;
    padding: 30px;
    
    }

.FooterContainer {
    display: flex;
    justify-content: space-evenly ;

}

.FooterUl {
    
}

.FooterLi {
list-style: none;
font-size: small;
margin-left: 75px;
margin-bottom: 30px;
padding: 25px 30px;
display: flex;

}
/* .FooterP{
    height: 30px;
} */

.FooterA {
    color: white;
   
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.FooterA:hover {
    color: yellow;
    text-decoration-line:underline;
}