

.filmCardContainterImg{
    border: solid 2px yellow;
    width: 15%;
}


.filmCardContainter{
color: white;
}

.filmCardContainter{
    color: white;
    }
    .filmCardContainterTitle{
        margin: 20px;
    }
    .filmCardContainterYear{
        margin: 20px;
    }
    .filmCardContainterText{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
    }


