
.FilmCardContainter{
color: white;
}
.TextoFilm {

padding-bottom: 20px;
color: rgb(255, 255, 255);
}
.ImagenFilm {
    width: 250px;
    padding: 40px;
    min-height: 400px;
    max-width: 500px;
    margin-top: 7px;
    margin-bottom: 30px;
    border: solid 3px yellow;
    overflow: hidden;
        
}

.TitleFilm {
    margin-bottom: 20px;
}

.FilmCardContainter > h4 {
    margin-bottom: 20px;
}

.FilmCardContainter > p {
    margin-right: 10%;
    margin-left: 10%;
    }



 /*Estilos de Álex*/

/*.filmCardContainterImg{
    border: solid 2px yellow;
    width: 250px;
}


.filmCardContainter{
color: white;
}

.filmCardContainter{
    color: white;
    }
    .filmCardContainterTitle{
        margin: 20px;
    }
    .filmCardContainterYear{
        margin: 20px;
    }
    .filmCardContainterText{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
    }*/


