

.InfoHome {
    background-color: blueviolet;
    display:inline;
    justify-content: space-between;
}
.ImagenInfo {


}

.HomeComponent{
    background-color: brown;
}
.Name {
    
    margin-top: 50px;
}