.ContainerFilms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ContainerFilms > h2 {
    color: rgb(206, 64, 242);
    text-align: center;
    }


.Container > img {
    max-width: 400px;
}

.SwiperContainer {
    margin-top: 40px;
}
