.ContainerFilms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
}
.ContainerFilms > h2 {
    color: yellow;
    margin: auto;
    }


.Container > img {
    max-width: 400px;
}

.SwiperContainer {
    margin-top: 40px;
    margin-bottom: 80px;
}
