.ContainerFilms {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    padding-top: 30px;
}
.ContainerFilms > h3 {
    color: yellow;
    margin: auto;

    }


.Container > img {
    max-width: 400px;
}

.SwiperContainer {
    margin-top: 40px;
    margin-bottom: 20px;
}
