*{
    padding: 0;
    margin: 0;
    
}

Img {
    width: 250px;
}

.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:baseline;
    width:100%;
}

.Logo {
    margin-left: 60px;
}
.Logo >img {
    height: 100px;
    width: 200px;
    
}

.Logo:hover {
    filter: saturate(180%);
}

.Nav{
    width:fit-content;
    margin-left: 75px;
    padding-bottom: 10px;
    padding-left: 15 px;
    
    width: 90%;
    

}

.NavA{
    /*color:rgb(222, 244, 19)*/
    color: white;
    font-weight: bold;
    text-decoration: none;

}
.NavLi{
    list-style: none;
    font-size: 28px;
    font-weight:normal;
    margin-right: 25px;
    margin-left: 45px;
    padding-top: 15px;
    float: left;
    
}

.LiPrivate {
    list-style: none;
    font-size: 28px;
    font-weight:normal;
    margin-right: 25px;
    margin-left: 45px;
    padding-top: 15px;
    float: left;
    
}

.NavA:hover {
    
    color:yellow;
}

.NavImg{
    width: 35px;
}