.LoginContainer {
    background-color: black;
    display:block;
    margin-top: 50px;
}
.MailLogin {
    color: yellow;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight:normal;
}

.ButtonLogin {
    color: black;
    padding: 15px;
    height: 50px;
    background-color:yellow;
    border-radius: 8px;
}


form {
    width: 400px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}