.searchbar{
    display: flex;
    justify-content: flex-end;
    color: black;
    border-radius: 10%;
    width: 400px;
}
input{
     background: white; 
}
.gallery{
    margin-left: 15px;
    margin-top: 30px;
    /* display: flex;  
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        
}

.gallery_img{
    padding: 40px;
    min-height: 400px;
    max-width: 500px;
    margin-top: 7px;
    margin-bottom: 30px;
    border: solid 3px yellow;
        
}

.gallery_img :hover {
    filter: sepia(70%);
}

.gallery_item > p{
    margin-top: 20px;
    text-align: left;
    margin-left: 10%;
    padding: 3%;
    font-size:18px;
    max-width: 500px;
    max-height: fit-content;
    color: white
}

.searchbar {
    margin-top: 60px;
    margin-left: 40%;
}

.searchbar > button{
    color: black;
    font-weight: 600;
    background-color: yellow;
    padding: 8px;
    height: 40px;
    border-radius: 10%;
    margin-left: 10px;
    
}

.bin{
    background-color:black;
    margin-bottom: 30px;
    border-color: yellow;
    width: 50px;
    height: 30px;
    border-radius: 6px;
}