.searchbar{
    display: flex;
    justify-content: flex-end;
    color: black;
    border-radius: 10%;
    width: 400px;
    margin-top: 0px;
    margin-left: 40%;
}
input{
    background: white; 
    border-radius: 5px;
}
.gallery{
    background-color: black;
    
    margin-top: px;
    /* display: flex;  
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        
}

.gallery_img{
    padding: 40px;
    min-height: 400px;
    max-width: 500px;
    margin-top: 7px;
    margin-bottom: 30px;
    border: solid 3px yellow;
    overflow: hidden;
        
}

.gallery_img:hover {
    -webkit-transform:scale(1);transform:scale(0.9);
    
}


.gallery_item > p{
    margin-top: 20px;
    text-align: left;
    margin-left: 10%;
    padding: 3%;
    font-size:18px;
    max-width: 500px;
    max-height: fit-content;
    color: white;
    overflow: hidden;
    
}


.searchbar > button{
    color: black;
    font-weight: 600;
    background-color: yellow;
    padding: 8px;
    height: 40px;
    border-radius: 10%;
    margin-left: 10px; 
}

.searchbar > button:hover {
    background-color: black;
    color: yellow;
    border-color: yellow;
}



.bin{
    background-color:black;
    margin-bottom: 31px;
    border-color: yellow;
    width: 50px;
    height: 30px;
    border-radius: 6px;
}
.bin:hover {
    -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}